.App {
  background-color: #f8f9fa;
  height: 100vh;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #727e8e;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  width: 300px;
  padding: 10px;
  background-color: #fdfdfd;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-1 {
  border-right: 2px solid #e9f2f1;
  border-bottom: 2px solid #e9f2f1;
}

.box-2 {
  border-right: 2px solid #e9f2f1;
  border-bottom: 2px solid #e9f2f1;
}

.box-3 {
  /* border-right: 3px solid; */
  border-bottom: 2px solid #e9f2f1;
}

.box-4 {
  border-right: 2px solid #e9f2f1;
  border-bottom: 2px solid #e9f2f1;
}

.box-5 {
  border-right: 2px solid #e9f2f1;
  border-bottom: 2px solid #e9f2f1;
}

.box-6 {
  border-bottom: 2px solid #e9f2f1;
  /* border-right: 3px solid; */
}

.box-7 {
  border-right: 2px solid #e9f2f1;
}

.box-8 {
  border-right: 2px solid #e9f2f1;
}

.box-9 {
  /* border-right: 3px solid; */
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 100px;
  width: 100px;
}

.status {
  text-align: center;
}

.settings {
  margin: auto;
  display: grid;
  height: 30px;
  width: 30px;
  margin-top: 70px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}

.settings-img {
  width: 15px;
  display: block;
  margin: auto;
}

.container-status {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 35px;
  width: 300px;
  padding: 10px;
  /* background-color: #fdfdfd; */
  margin: auto;
  text-align: center;
  color: #727e8e;
  margin-bottom: 20px;
}

.status-box-2 {
  height: 30px;
  width: 100px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.score {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #727e8e;
}

.player-container {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 300px;
  width: 300px;
  padding: 10px;
  margin-top: 75px !important;
  margin: auto;
  border-radius: 15px;
}

.img {
  height: 100px;
}

.img {
  height: 150px;
  margin: 0 auto;
}

.player-box-1 {
  display: block;
  margin: auto;
}

.player-box-2 {
  display: block;
  margin: auto;
}

.pl-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pl-cotainer {
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 150px 70px;
}

/* Hide the browser's default radio button */
.radio1 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio2 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  height: 25px;
  width: 25px;
  background-color: #f8f9fa;
  border-radius: 50%;
  border: 2px solid #e8eae9;
  margin: 0 auto;
  margin-top: 20px;
}

.checkmark:after {
  /* top: 9px;
    left: 9px; */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2196f3;
  margin-left: 5px;
  margin-top: 5px;
}

.checkmark:hover {
  border: 2px solid #2196f3;
}

.radio1:checked ~ .checkmark {
  border: 2px solid #2196f3;
}

.radio2:checked ~ .checkmark {
  border: 2px solid #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio1:checked ~ .checkmark:after {
  display: block;
}
.radio2:checked ~ .checkmark:after {
  display: block;
}

.player-btn {
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;

  height: 40px;
}

.btn-box {
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
  /* margin-top: 70px; */
}

.header-text {
  margin-top: 0;

  font-size: 16px;
  font-weight: 400;
  color: #727e8e;
  text-align: center;
  margin-bottom: 20px;
}

.app-box {
  padding: 50px;
}

/* popup */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 5%;
  /* bottom: 25%; */
  margin: auto;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  color: #727e8e;
  padding: 20px;
}

.close-btn {
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;

  height: 40px;
}

.close-btn-box {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.cross-winner-img {
  width: 50px;
}

.circle-winner-img {
  width: 50px;
}

.popup-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: end;
  font-size: 35px;
}

@media only screen and (max-width: 600px) {
  .app-box {
    padding: 20px;
  }

  .popup-container {
    text-align: end;
    font-size: 20px;
  }

  .cross-winner-img {
    width: 25px;
  }

  .circle-winner-img {
    width: 25px;
  }
}
